  #mycanvas
{
  border:2px solid black;
  width:500px;
  height:500px;
  background:url("https://opengameart.org/sites/default/files/dark%20background.png");
}
#targetz
{
  position:absolute;
  left:600px;
  top:100px;
  border:1px solid black;
  
  background-color: #ADD8E6 ;
}
#score
{
color:white;
}
 body
{
background:black;
}
#arrow-up,#arrow-down
{
 width:60px;
 height:40px;
}


